[Unit]
Description=Simple flask app
After=network.target

[Service]
Type=simple
User=flask_app
WorkingDirectory=/opt/simple_app
ExecStart=python3 /opt/simple_app/app.py
Restart=always

[Install]
WantedBy=multi-user.target
